#login,
#register {
  font-family: 'Poppins', sans-serif;
}

.container-fluid {
  padding: 3% 10% 3%;
}


input {
  width: 50%;
}

#register-page {
  background-image: linear-gradient(to bottom right, #d3cee3,#e9e4f0);
}

#loginPage {
  background-image: linear-gradient(to bottom right, #D8E8EB,#FEFEDF);
}

.reg-img {
  position: relative;
  width: 40%;
}

#kanban-board {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to bottom right, #FBF7FF,#FEFEDF);
}

.container-fluid-board {
  padding: 1% 1% 3%;
}

.card-board-header {
  background-color: #14A71C;
}

.card-board-footer {
  background-color: #144FA7;
}


h4 {
  font-family: 'Poppins', sans-serif;
}

.btn-info {
  background-color: #494AE1;
  border-color: #494AE1;
}

.btn-info:hover,
.btn-info:active,
.btn-info:visited {
  background-color:#69BAA5;
  border-color: #69BAA5;
}

.fas:hover {
  color:#47BEA3;
}

.fas.fa-plus:hover {
  color: #21254C;
} 